
// headings

.u-h1 {
    @apply text-[30px] tracking-[-0.67px] text-blue-1 font-bold p-0;
}

.u-h2 {
    @apply text-[22px] tracking-[-0.49px] text-blue-1 font-bold p-0;
}

.u-h3 {
    @apply text-[18px] tracking-[-0.39px] text-blue-1 font-semibold;
}

.u-h4 {
    @apply text-[15px] tracking-[0px] text-blue-1 font-semibold;
}

.u-h5 {
    @apply text-[18px] tracking-[0px] text-blue-1 font-normal;
}

.head-14 {
    @apply text-[14px] font-medium leading-none;
}

.head-16 {
    @apply text-[16px] font-medium leading-none;
}

.head-18 {
    @apply text-[18px] font-medium leading-none;
}

.head-22 {
    @apply text-[22px] font-medium leading-none;
}

.head-28 {
    @apply text-[28px] font-medium leading-none;
}

.head-66 {
    @apply text-[66px] font-medium leading-none pb-2;
}

.head-88 {
    @apply text-[88px] font-medium leading-none pb-2;
}

strong {
    @apply font-bold;
}
.wysiwyg {
    @apply space-y-5 lg:space-y-6;
}


// clip paths
.hex-clip {
    clip-path: polygon(50% 0,100% 25%,100% 75%,50% 100%,0 75%,0 25%,50% 0);
}

.aside-clip {
    clip-path: polygon(0% 0,calc(100% - 30px) 0%,100% 30px,100% 100%,0% 100%);
}

.aside-clip-inner {
    clip-path: polygon(0% 0,calc(100% - 28px) 0%,100% 28px,100% 100%,0% 100%);
}

// gradients {
.bg-red-to-blue {
    background-image: linear-gradient(290deg,#4984ff 0,#ff3035 100%);
}

.bg-red-to-blue-220 {
    background-image: linear-gradient(220deg,#4984ff 0,#ff3035 100%);
}

.border-gradient {
    border-image: linear-gradient(0deg, #4984ff 0, #ff3035 100%);
    border-image-slice: 1 !important;
}

hr.bg-red-to-blue {
    @apply h-[2px] w-full border-0;
}

// ui

.ui-pill {
    @apply shrink-0 select-none mx-[10px] lg:mx-[16px] relative px-[5px] lg:px-[5px] bg-red-1 text-[14px] lg:text-[24px] font-medium text-white h-[36px] lg:h-[56px] inline-flex items-center min-w-[60px] lg:min-w-[100px] justify-center;

    &:before, &:after {
        @apply transition-all duration-200 ease-in-out w-[10px] lg:w-[16px] bg-red-1 h-full block absolute top-0 content-[''];
    }

    &:before {
        @apply left-[-9px] lg:left-[-15px];
        clip-path: polygon(100% 0,100% 0, 100% 100%, 100% 100%, 0 50%);
    }

    &:after {
        @apply right-[-9px] lg:right-[-15px];
        clip-path: polygon(0% 0,0% 0, 100% 50%, 0% 100%,0 100%)
    }


    &--red {
        @apply bg-red-1;

        &:before, &:after {
            @apply bg-red-1;
        }
    }

    &--green {
        @apply bg-green-1;

        &:before, &:after {
            @apply bg-green-1;
        }
    }
}

// buttons
.btn-clip {
    @apply ui-pill;

    &:hover {
        &:before {
            clip-path: polygon(0% 0,100% 0, 100% 100%, 0% 100%, 0 50%);
        }
        &:after {
            clip-path: polygon(0% 0,100% 0, 100% 50%, 100% 100%,0 100%);
        }
    }

    &--green {
        @apply ui-pill--green;
    }

    &--green-outline {
        &:before, &:after {
            @apply hidden;
        }
        clip-path: polygon(10px 0, calc(100% - 10px) 0, 100% 50%, calc(100% - 10px) 100%, 10px 100%, 0% 50%);
        @apply bg-green-1 p-[3px] mx-0;

        > span {
            @apply flex-1 px-[10px] lg:px-[16px] h-full flex items-center;
            clip-path: polygon(9px 0, calc(100% - 9px) 0, 100% 50%, calc(100% - 9px) 100%, 9px 100%, 0% 50%);
        }

        &:hover {
            clip-path: polygon(0px 0, calc(100% - 0px) 0, 100% 50%, calc(100% - 0px) 100%, 0px 100%, 0% 50%);

            span {
                clip-path: polygon(0px 0, calc(100% - 0px) 0, 100% 50%, calc(100% - 0px) 100%, 0px 100%, 0% 50%);
            }
        }
    }


}

.text-link {
    @apply relative font-bold text-[12px] lg:text-[18px] text-red-1 after:h-[2px] after:w-[0] after:absolute after:top-full after:pointer-events-none after:bg-current after:left-0 after:transition-all after:duration-200 after:ease-in-out hover:after:w-full after:mt-1;

    &--blue {
        @apply text-blue-1;
    }

    &--current {
        @apply text-current;
    }
}

// form styles

.field {
    @apply rounded-none h-[45px] lg:h-[80px] p-3 lg:px-6 border border-copy outline-none w-full block;
}

.field-wrap {
    @apply relative bg-copy p-px z-0;


    > input {
        
        
    }

    label.error {
        @apply text-[10px] lg:text-[18px] text-[red] absolute top-full;
    }
}

.form-styled {
    

    input[type="text"], input[type="password"], textarea {
        @apply field;
    }

    .label {
        @apply font-medium;
    }

    .group {
        @apply space-y-3;
    }
}


html::-webkit-scrollbar {
    @apply w-[10px];
}

html::-webkit-scrollbar-track {
    @apply bg-black rounded-sm;
}

html::-webkit-scrollbar-thumb {
    @apply bg-black;
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
