/* VH Hack */
:root {
	--vh: 1vh;
    --nav-height: 76px;
    --nav-height-lg: 176px;
    --nav-grad: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    --nav-grad-md: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.80) 31.51%, rgba(255, 255, 255, 0.00) 86.42%);
}

.min-100vh {
    min-height: calc(var(--vh, 1vh) * 100);
}

.contact-form {
    @apply space-y-3 lg:space-y-7;
}

.form-cols {
    @apply md:flex md:space-x-5 lg:space-x-10 space-y-3 md:space-y-0;
}

.form-col {
    @apply md:w-1/2;
}

textarea.field {
    @apply h-[130px] lg:h-[310px] py-2;
}

.wpcf7 form {
    .form-send-wrap {
        @apply flex flex-col items-end justify-end relative text-[18px] lg:text-[34px];

        .wpcf7-spinner {
            @apply absolute m-0 left-0 top-0;
        }

        .wpcf7-response-output {
            @apply w-full m-0;
        }
    }

    .wpcf7-not-valid-tip {
        @apply mt-2;
    }
}

#ui-datepicker-div {
    @apply text-[14px];
}