// SETTINGS
@import "theme";
@import "tailwind";




.container {
    @apply max-w-screen-4xl;
}

// btns
.btn-primary {
    @apply shadow-none outline-0 focus:shadow-none focus:outline-0 border-0 md:min-w-[150px] bg-blue-2 text-white rounded-full min-w-[105px] text-[14px] inline-flex  h-[40px] items-center px-5 justify-center text-center hover:bg-blue-1 transition-colors relative;
    
    &[disabled] {
        @apply opacity-50;
    }

    &.spinner {
        @apply after:bg-[url('assets/img/spinner.png')] after:bg-no-repeat after:bg-[length:20px_20px] after:w-[20px] after:h-[20px] after:ml-5;
    }
}

.btn-blank {
    @apply hover:no-underline md:min-w-[150px] bg-white text-blue-2 rounded-full  min-w-[105px] text-[14px] inline-flex  h-[40px] items-center px-5 justify-center text-center hover:bg-blue-2 hover:text-white transition-colors border-2 border-blue-2 border-solid;

    &.spinner {
        @apply after:bg-[url('assets/img/spinner.png')] after:bg-no-repeat after:bg-[length:20px_20px] after:w-[20px] after:h-[20px] after:ml-5;
    }

    &[disabled] {
        @apply opacity-50;
    }
}

// forms
.field-group {
    @apply flex;

    label {
        @apply text-[#ADB6BF] font-semibold text-[15px];
    }

    input[type="text"], .fake-select-value, textarea, .field {
        @apply border border-[#E9EAED] text-[#1C2F75] h-[50px] w-full block outline-none px-5 rounded-[3px] text-[17px] font-semibold tracking-[-0.25px] transition-colors;

        &.error {
            @apply border-[red];
        }
    }

    textarea {
        @apply h-[225px] py-5;
    }

    
    
}

// input tags
.tags-input-wrapper {
    @apply field gap-2 flex flex-wrap items-center py-2 relative;

    &:after {
        @apply bg-[url(assets/img/tab.svg)] bg-no-repeat w-[24px] h-[16px] block absolute top-[25px] right-5 -translate-y-1/2;
        content: '';
    }
    

    min-height: 50px;
    height: auto !important;
    display: flex !important;
    padding-right: 50px !important;

    > input {
        @apply w-[140px] outline-none;
    }
}

.tag {
    @apply bg-[#7BBFDC] text-white p-3 min-h-[28px] rounded-sm inline-flex text-[10px] font-normal items-center relative;

    &:after {
        right: 100%;
        top: 50%;
        border: solid transparent;
        content: "";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(123, 191, 220, 0);
        border-right-color: #7BBFDC;
        border-width: 5px;
        margin-top: -5px;
    }

    &.noarrow {
        &:after {
            display: none;
        }
    }

    a {
        @apply ml-5 cursor-pointer;
    }
}

.field-error-msg {
    @apply text-white bg-[red] text-[10px] mt-2 font-bold p-2 inline-block rounded-sm;
}

.fake-select {
    @apply relative cursor-pointer;

    select {
        @apply absolute w-full h-full opacity-0 inset-0 cursor-pointer;
    }

    .fake-select-value {
        @apply flex items-center after:w-[12px] after:h-[8px] after:absolute after:bg-[url(assets/img/bbpress/down.svg)] after:right-6 after:top-1/2 after:-translate-y-1/2;
    }
}

.fake-radio {
    .fake-radio-span {
        @apply relative block w-[19px] h-[19px] rounded-full border border-[#E9EAED] 
        before:w-[14px] before:h-[14px] before:absolute before:top-1/2 before:left-1/2 before:-translate-y-1/2 before:-translate-x-1/2 before:rounded-full
        ;
    }
}

.bb-accordion {
    @apply bg-[#FBFBFC] border-[#E9EAED] border rounded-[4.4px];

    .bb-accordion-header {
        @apply cursor-pointer text-[18px] tracking-[-0.26px] font-normal  text-blue-1 px-4 py-4  flex justify-between;
    }

    .bb-accordion-body {
        @apply  px-4 py-6 space-y-2 text-[18px] tracking-[-0.26px]  overflow-hidden border-t border-[#E9EAED];
    }
}

// bbpress

#bbpress-forums {
    @apply text-[15px] leading-[1.35] overflow-visible;
}

#bbpress-forums h1 {
    @apply u-h1;
}

#bbpress-forums .edit-btn {
    @apply btn-blank;
}

.bbp-body {
    @apply space-y-5;
}

#subscription-toggle a {
    @apply btn-blank;
}

.bbp-pagination {
    @apply m-0 w-auto;
}

#bbpress-forums ul.bbp-forums, #bbpress-forums ul.bbp-lead-topic, #bbpress-forums ul.bbp-replies, #bbpress-forums ul.bbp-search-results, #bbpress-forums ul.bbp-topics {
    @apply border-0 text-[15px];
}

#bbpress-forums ul.bbp-forums, #bbpress-forums ul.bbp-lead-topic, #bbpress-forums ul.bbp-replies, #bbpress-forums ul.bbp-search-results, #bbpress-forums ul.bbp-topics {
    @apply overflow-visible;
}

#bp-nouveau-activity-form {
    #aw-whats-new-reset {
        @apply btn-blank;
    }
}


.activity-list .activity-item .activity-content .activity-header, .activity-list .activity-item .activity-content .comment-header {
    @apply text-[18px] font-semibold text-blue-1;
}

.activity-list .activity-item .activity-content .activity-header {
    a {}
}

.activity {

    .bp-member-short-description {

        .bp-member-avatar-content {
            > a {
                @apply inline-block;
            }       
        }

    }

    .activity-comments {
        .activity-meta.action .generic-button > a {
            @apply btn-primary;
        }
    }

    

    
}

.buddypress .buddypress-wrap {
    .bp-profile-button {
        a {
            @apply btn-primary hover:text-white;
        }
    }
}

.buddypress-wrap .activity-comments .acomment-content {

    > p {
        @apply text-[18px];
    }
}

.bbpress, .registration {
    .button[type="submit"], input[type="submit"] {
        @apply btn-primary;
    }
}

.bbp-reply-revision-log {
    @apply border-t border-[#E9EAED] text-[#999] pt-5 text-[12px] space-y-1;

    .bbp-author-link {
        @apply inline-flex items-center align-middle
    }
}

body #buddypress input[type=submit] {
    @apply btn-primary;
}

.bp-navs ul li .count {
    @apply inline-block min-w-[20px];
}

// dropzone
.dropzone .dz-preview .dz-image img {
    @apply object-cover w-full h-full;
}


// login/register

html body.login {
    @apply bg-[#FAFBFD];
}

body.login input.password-input {
    @apply font-sans;
}

body.login {
    @apply flex items-center justify-center;

    #login {
        @apply space-y-10 p-10 w-[450px] max-w-full border border-[#E9EAED] bg-white shadow-[0_0_26px_0_#E8E9EE] rounded-[4.4px];

        > h1 {
            @apply mx-auto bg-[url(assets/img/Auto-iQ-Logo-Desktop.jpeg)] bg-contain w-[125px] h-[36px] bg-no-repeat bg-center;

            a {
                @apply hidden;
            }
        }

        
    }

    #loginform, #lostpasswordform {
        @apply border-0 p-0 space-y-5;
    }

    .language-switcher {
        @apply hidden;
    }

    form .forgetmenot {
        @apply float-none;
    }

    input[type="submit"] {
        @apply btn-primary;
    }

    .submit {
        input[type="submit"] {
            @apply w-full;
        }
    }

    #user_label, #pass_label, #user_label_lost {
        @apply mt-px block relative;

        &:before {
            @apply z-10 bg-[url(assets/img/icons/icon-user.svg)] content-[''] w-[10px] h-[20px] block absolute top-[10px] p-2 px-5 bg-no-repeat bg-center bg-contain;
        }
    }

    #user_login,#user_pass {
        @apply  pl-[40px] m-0 focus:outline-0 hover:outline-0 hover:shadow-none focus:shadow-none border-[#E9EAED] border text-[18px] text-blue-1;
    }

    .forgetmenot, #backtoblog {
        @apply text-center;
    }

    #nav {
        @apply text-center;
    }

    #login_error {
        @apply bg-[#d63638] text-white rounded-md;

    }
}

// subscriber admin bar

.logged-in.admin-bar.subscriber {
    #wpadminbar {
        @apply bg-blue-1;
    }

    #wpadminbar .quicklinks .ab-top-secondary>li {
        @apply float-none;
    }

    #wpadminbar .ab-top-secondary {
        @apply float-none flex flex-row-reverse container mx-auto max-w-[1536px] px-[25px];
    }
}